# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
#func to return less num if 2 num is even and return greater if 2 num odd or 1 at least odd
def lesser_of_two_evens(a,b):
    #return less num if 2 num is even
    if a%2==0 and b%2==0:
        num=min(a,b)
        return num
    #return greater if 2 num odd or 1 at least odd
    elif a%2==0 or b%2==0:
        num=max(a,b)
        return num
    else:
        num=max(a,b)
        return num
lesser_of_two_evens(7,5)

7

In [10]:
# Check
lesser_of_two_evens(2,4)

2

In [11]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
#func print true if 2 first letter equal 
def animal_crackers(text):
    myword=text.split()
    if myword[0][0]==myword[1][0]:
        print('true')
    else:
         print('false')

In [17]:
# Check
animal_crackers('Levelheaded Llama')

true

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
#func if 1 of 2 num = 20 or sum of 2 num = 20 print true else print false 
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        print('true')
    elif n1+n2==20:
        print('true')
    else:
        print('false')

In [20]:
# Check
makes_twenty(20,10)

true

In [21]:
# Check
makes_twenty(2,3)

false

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [22]:
#func to upper 1 and 4 letter 
def old_macdonald(name):
    return name[0:3].capitalize() + name[3:].capitalize()

In [23]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [28]:
#func return true if range num less or great 10 of 100 and 200
def almost_there(n):
    #return true if range num less or great 10 of 100
    if abs(n) in range(90,111):
        return True
     #return true if range num less or great 10 of 200
    elif abs(n) in range(190,211):
        return True 
    else:
        return False

In [29]:
# Check
almost_there(104)

True

In [30]:
# Check
almost_there(150)

False

In [31]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [53]:

def has_33(nums):
    # list if get two 3 after that return true
    for i in nums:
        if nums[i]==3 and nums[i+1]==3:
            return True
        else:
            return False

In [54]:
# Check
has_33([1, 3, 3])

True

In [55]:
# Check
has_33([1, 3, 1, 3])

False

In [57]:
# Check
has_33([3, 1, 3,1])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [58]:

def paper_doll(text):
    new=''
    # get all letter repeat 3 
    for letter in text:
        new+=letter*3
    return new

In [59]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [60]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [73]:
def blackjack(a,b,c):
    #if less 21 return sum
    if a+b+c<=21:
        return a+b+c
    #if great 21 return sum
    elif a+b+c>21:
        if a==11 or b==11 or c ==11:
            return (a+b+c) - 10 
        elif a+b+c  > 21:
            return 'BUST'

In [74]:
# Check
blackjack(5,6,7)

18

In [75]:
# Check
blackjack(9,9,9)

'BUST'

In [76]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [79]:
#print sum if list not have 6 and if have sum befor it 
def summer_69(arr):
    sum=0
    for a in arr:
        if a in range (6,10):
            continue
        else:
            sum+=a
    return sum

In [80]:
# Check
summer_69([1, 3, 5])

9

In [81]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [82]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [102]:
def spy_game(nums):
    #return true if in list get 007
    return '007' in ''.join(str(i) for i in nums)

In [103]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [104]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [105]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [100]:

def count_primes(num):
    c=0
    for i in range(2,num+1):
        p=True
        for a in range(2,i):
            if(i%a==0):
                p=False
                break
        if p:
            c+=1
    return c

In [101]:
# Check
count_primes(100)

25

## Great Job!